@page "{id:int?}"
@model ClientDbWebApp.Pages.Clients.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h3>Удаление</h3>

<h5>Вы уверены, что хотите удалить этого Клиента?</h5>
<div>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Client.ClientName)</th>
                <th>@Html.DisplayNameFor(model => model.Client.ClientInn)</th>
                <th>@Html.DisplayNameFor(model => model.Client.ClientType)</th>
                <th>@Html.DisplayNameFor(model => model.Client.ClientCreatedDate)</th>
                <th>@Html.DisplayNameFor(model => model.Client.ClientUpdatedDate)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Client.ClientName)</td>
                <td>@Html.DisplayFor(model => model.Client.ClientInn)</td>
                <td>@Html.DisplayFor(model => model.Client.ClientType)</td>
                <td>@Html.DisplayFor(model => model.Client.ClientCreatedDate)</td>
                <td>@Html.DisplayFor(model => model.Client.ClientUpdatedDate)</td>
            </tr>
        </tbody>
    </table>
    @if (Model.Client.ClientType != "ИП")
    {
        <h5 class="col-sm-12">
            @Html.DisplayNameFor(model => model.Client.Founders)
        </h5>
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tr>
                    <th>ФИО Учредителя</th>
                    <th>ИНН Учредителя</th>
                    <th>Создан</th>
                    <th>Обновлен</th>
                </tr>
                @foreach (var item in Model.Client.Founders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FounderFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FounderInn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FounderCreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FounderUpdatedDate)
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
<div>
    <form method="post">
        <input type="hidden" asp-for="Client.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад к списку</a>
    </form>
</div>
