@page
@model ClientDbWebApp.Pages.Founders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Founder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Founder.FounderFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Founder.FounderFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Founder.FounderInn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Founder.FounderInn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Founder.FounderCreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Founder.FounderCreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Founder.FounderUpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Founder.FounderUpdatedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Founder.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
